pki:
  ca: /root/.nebula/ca.crt
  cert: /root/.nebula/kali-lh.crt
  key: /root/.nebula/kali-lh.key

static_host_map: {}

lighthouse:
  am_lighthouse: true
  interval: 60
  hosts: []

listen:
  host: 0.0.0.0
  port: 554

punchy:
  punch: true
  respond: true

tun:
  disabled: false
  dev: nebula1
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300

logging:
  level: info
  format: text

firewall:
  conntrack:
    tcp_timeout: 12m
    udp_timeout: 3m
    default_timeout: 10m

  outbound:
    - port: any
      proto: any
      host: any

  inbound:
    - port: any
      proto: any
      host: any